#login_boxWrap {
  position: absolute;
  left: 0px;
  top:1.2rem;
  width: 100%;
  min-height: 100%;
  background: url(../../images/login_bg.jpg) no-repeat;
  background-size: 100% 100%;
}
.login_register {
  background: url(../../images/login_title.png) no-repeat;
  background-size: 100% auto;
  width: 3.013333rem;
  height: 1.08rem;
  margin: 1.866667rem auto;
}
.login_register span {
  display: none;
}
.login_register_box {
  width: 8.666667rem;
  height: 11.36rem;
  margin: 0 auto;
  /* transform: rotateY(-180deg); */
}
.box {
  width: 100%;
  /* padding: 0 70px; */
  box-sizing: border-box;
  transform-style: preserve-3d;
  perspective: 13.333333rem;
  height: 100%;
  text-align: center;
  position: relative;
  transition:all 0.5s linear;
}
.login_box,
.register_box {
  position: absolute;
  width: 100%;
  height: 98%;
  background: rgba(255, 255, 255, 0.9);
  backface-visibility: hidden;
  box-shadow: 0.066667rem 0.066667rem 0.133333rem rgba(57, 160, 136, 0.5);
}
.login_box {
  padding: 0.8rem 0.933333rem 0px 0.96rem;
  box-sizing: border-box;
}
.user_img {
  text-align: center;
}
.user_img p {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  /* background: url(../../images/user_img.png) no-repeat;
  background-size: 100% auto; */
  padding-bottom:2.2rem;
}
.user_img figcaption {
  font-size: 0.4rem;
  font-weight: bold;
}
.login_form{
  padding-top: 0.58666667rem;
}
.login_form input[type="text"],
input[type="password"] {
  color: #666666;
  font: 0.346667rem 0.973333rem fzlt;
  text-indent: 0.8rem;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 0.026667rem solid #c1c8cb;
}
.login_form input[type="text"] {
  height: 0.973333rem;
  background: url("../../images/icon_email.png") no-repeat left 0.306667rem;
  background-size: 0.466667rem 0.36rem;
}
.login_form input[type="text"]:focus {
  height: 0.973333rem;
  background: url("../../images/icon_email_focus.png") no-repeat left
    0.306667rem;
  background-size: 0.466667rem 0.36rem;
  color: #e15671;
  border-bottom: 0.026667rem solid #e15671;
}
.login_form input[type="password"] {
  height: 1.453333rem;
  background: url("../../images/icon_lock.png") no-repeat left 0.506667rem;
  background-size: 0.386667rem 0.44rem;
  text-indent: 0.8rem;
  line-height: 1.453333rem;
}
.login_form input[type="password"]:focus {
  height: 1.453333rem;
  background: url("../../images/icon_lock_focus.png") no-repeat left 0.506667rem;
  background-size: 0.386667rem 0.44rem;
  text-indent: 0.8rem;
  line-height: 1.453333rem;
  color: #e15671;
  border:none;
  border-bottom: 0.026667rem solid #e15671;
}

.login_register_box input[type="text"]:focus::-webkit-input-placeholder,
.login_register_box input[type="password"]:focus::-webkit-input-placeholder {
  color: #e15671;
}
.form_btn {
  font: bold 0.4rem fzlt;
  border: 0;
  padding: 0;
  color: white;
  height: 1.066667rem;
  display: block;
  width: 80%;
  margin: 0.266667rem auto;
  border-color: #e15671;
  background: url(../../images/button_bg.png) no-repeat;
  background-size: 100% 100%;
}
.form_tip {
  font-size: 0.4rem;
}
.form_tip a {
  color: #e15671;
}
.register_form {
  padding: 0 0.933333rem 0 0.96rem;
}
.register_box input[type="text"],
input[type="password"] {
  height: 0.973333rem;
  display: block;
  border: 0;
  width: 100%;
  text-indent: 0;
  background: none;
  border-bottom: 0.026667rem solid #c1c8cb;
}
.register_box input[type="text"]:focus,
input[type="password"]:focus {
  border:0;
  border-bottom: 0.026667rem solid #e15671;
}
.login_register_box .register_box {
  /* transform: rotateY(180deg); */
  padding: 0.533333rem 0;
  /* height: 80%; */
  box-sizing: border-box;
}
/* .login_register_box .register_box:hover {
  transform: rotateY(-180deg);
} */
.register_box input[type="text"]:focus,
input[type="password"]:focus {
  color: #e15671;
}
.register_box h3 {
  font-size: 0.4rem;
  padding-top: 0.266667rem;
}
.show {
  display: block;
  transform: rotateY(-180deg);
  transition: 0.5s;
}
.hide {
  display: none;
  transform: rotateY(-360deg);
}
.verify {
  width: 50%;
  margin-top: 0.266667rem;
}
