li{
    list-style: none;
}
#home_main {
    width: 10rem;
    margin: 1.2rem auto 0;
    background: #f3fafd;
}

/* 报名注册 */

.content_list {
    width: 10rem;
    padding: 0.133333rem 0.04rem 0.093333rem;
    display: flex;
    flex-wrap: wrap;
}

.content_list li {
    width: 4.693333rem;
    height: 8.24rem;
    margin: 0 0.133333rem 0.266667rem;
}
.content_list .List1{
    background: url("../images/list1_bg.jpg") no-repeat;
    background-size: 100% 100%;
}
.content_list .List2{
    background: url("../images/list2_bg.jpg") no-repeat;
    background-size: 100% 100%;
}
.content_list .List3{
    background: url("../images/list3_bg.jpg") no-repeat;
    background-size: 100% 100%;
}
.content_list .List4{
    background: url("../images/list4_bg.jpg") no-repeat;
    background-size: 100% 100%;
}
.list_li{
    width: 4.693333rem;
    height: 2.133333rem;
    position: relative;
    overflow: hidden;
}
.content_list li button {
    position: absolute;
    background: none;
    outline: none;
    width: 2.266667rem;
    height: 0.533333rem;
    margin: 0.4rem 1.16rem 0 1.16rem;
    border: 0.013333rem solid rgba(255, 255, 255, 0.5);
    font-size: 0.32rem;
    color: #fff;
    border-radius: 0.133333rem;
}
.content_list .list_title {
    width: 4.693333rem;
    height: 1.026667rem;
    margin: 1.106667rem 0 0;
    font-size: 0.426667rem;
    text-align: center;
    color: #fff;
    font-weight: normal;
}

.content_list .list_title span {
    display: block;
    font: 0.32rem fzlt;
}

.content_list .price {
    width: 2.133333rem;
    height: 2.133333rem;
    background-color: #fdf4f9;
    margin: 0.173333rem 1.266667rem 0;
    border-radius: 50%;
    text-align: center;
    line-height: 2.133333rem;
    font-size: 0.533333rem;
    color: #f18cc4;
}

.txt {
    width: 4.6024rem;
    height: 2.56rem;
    padding: 0.746667rem 0.4rem 0;
    margin: 0 auto;
}
.txt time{
    display: block;
    height: 0.866667rem;
    line-height: 0.866667rem;
    font-size: 0.48rem;
    text-align: center;
}
.txt p {
    font: 0.32rem fzlt;
}

.content_list a {
    display: block;
    width: 2.76rem;
    height: 0.96rem;
    padding: 0 0.093333rem 0.16rem 0;
    margin: 0 auto ;
    background: url("../images/btn_bg.png") no-repeat;
    background-size: 100% 100%;
    font-size: 0.426667rem;
    color: #fff;
    text-align: center;
    line-height: 0.8rem;
    font-weight: bold;
}

/* VIP会员 */

.register_vip {
    text-align: center;
    padding: 0.04rem 0.13333333rem 0.41333333rem;
}

.register_vip h3 {
    height: 1.12rem;
    font-size: 0.533333rem;
    font-weight: normal;
    line-height: 1.12rem;
}

.register_vip .register_title {
    height: 1.6rem;
}

.register_vip .register_title p {
    font-size: 0.32rem;
    line-height: 0.533333rem;
    color: #666;
}

.register_vip span {
    display: block;
    line-height: 1.2rem;
    font-size: 0.48rem;
    color: #e15671;
}

.register_vip a {
    display: block;
    width: 4.133333rem;
    height: 1.093333rem;
    padding: 0 0.133333rem 0.133333rem 0;
    background: url("../images/once.png") no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    color: #fff;
    font-size: 0.453333rem;
    line-height: 0.933333rem;
    font-weight: bold;
}

/* 妙味特色 */

.characteristic {
    background-color: #a5d677;
}

.characteristic h3 {
    width: 10rem;
    height: 1.506667rem;
    line-height: 1.506667rem;
    text-align: center;
    font-size: 0.533333rem;
    font-weight: normal;
    color: #fff;
}

.characteristic_list {
    padding: 0 0.266667rem 0.533333rem;
}

.characteristic_list li {
    width: 9.466667rem;
    height: 1.866667rem;
    margin: 0.533333rem 0 0;
    padding: 0.36rem 0 0;
    display: flex;
    /* margin: 0.64rem; */
}

.characteristic_list li a {
    display: block;
    width: 1.866667rem;
    height: 1.866667rem;
    background-color: #fff;
    /* background-image: url("../images/icon1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    margin: -0.36rem 0.266667rem 0 0;
    border-radius: 50%;
}
.characteristic_list li a img{
    width: 100%;
    height: 100%;
}

.characteristic_list li span {
    width: 7.333333rem;
    height: 1.173333rem;
    display: block;
    color: #fff;
    font-size: 0.373333rem;
    line-height: 0.466667rem;
}

/* 学员作品 */

.work {
    width: 10rem;
    padding: 0.2rem 0 0;
}

.work .works_txt {
    height: 1.346667rem;
    text-align: center;
    line-height: 1.346667rem;
    font-size: 0.533333rem;
}

.work .works_cont {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.266667rem;
}

.work .works_cont li{
    width: 4.733333rem;
    height: 4.733333rem;
    position: relative;
}
.work .works_cont li a{
    display: block;
    width: 4.733333rem;
    height: 4.733333rem;
}
.works_tit{
    position: absolute;
    display: block;
    width: 4.733333rem;
    height: 1.226667rem;
    padding: 0.493333rem 0 0;
    background: linear-gradient(to top, rgba(83, 83, 83, 1), rgba(83, 83, 83, 0.7), rgba(83, 83, 83, 0.5),rgba(83, 83, 83, 0.2), rgba(83, 83, 83, 0));
    /* background:linear-gradient(rgba(0, 0, 0, 0), #000000); */
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.work .works_cont a img{
    width: 100%;
    height: 100%;
}
.work .works_cont li .works_tit storing {
    display: block;
    width: 2.093333rem;
    height: 0.733333rem;
    text-align: center;
    font-size: 0.32rem;
    color: #fff;
    line-height: 0.733333rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.work .works_cont li .works_tit span {
    display: block;
    width: 2.066667rem;
    height: 0.733333rem;
    display: flex;
}

.works_tit span em {
    display: block;
    margin: 0 0.253333rem 0 0;
    display: flex;
}

.works_tit span em i {
    display: block;
    width: 0.32rem;
    height: 0.32rem;
    margin: 0.146667rem 0.12rem 0 0;
}
.works_tit span em i img{
    width: 100%;
}
.works_tit span em font {
    display: block;
    line-height: 0.666667rem;
    color: #fff;
    font-size: 0.32rem;
    font-style: normal;
} 
